
body {
  font-family: 'Sarabun', sans-serif;
  padding: 0%;
  margin: 0%;
  background-color: lightyellow;
}

.logo{
  width: 60x;
  height: 60px;
  padding: 10px;
  margin-left: 100px;
  margin-top: 2px;
}

.heading1 {
margin-top: 100px;
margin-left: 100px;
}



.heading2 {
 margin-left: 100px;
}

.heading3 {
  margin-left: 100px;
}

.heading4 {
  color: orange;
  margin-top: 250px;
  margin-left: 100px;
  margin-bottom: 60px;
  font-weight: lighter;
  font-size: 30px;
}
.app-create-btn {
margin-left: 200px;
border: 0px lightsalmon;
border-radius: 50px;
padding: 10px;
width: 180px;
cursor: pointer;
background-color: lightsalmon;
color: white;
text-transform: uppercase;

}

.banner {
  margin-left: 900px;
  margin-top: 50px;
}

.sub-banner{
width: 500px;
height: 500px;
margin-left: 700px;

}

.box {
 margin-left: 100px;
 margin-top: -550px;
}