
body {
  font-family: 'Sarabun', sans-serif;
  padding: 0%;
  margin: 0%;
  background-color: lightyellow;
  width: 900px;
  overflow-x:hidden;
}

.logo{
  width: 60x;
  height: 60px;
  padding: 10px;
  margin-left: 100px;
  margin-top: 2px;
}

.heading1 {
margin-top: 100px;
margin-left: 100px;
}


.heading2 {
 margin-left: 100px;
}

.heading3 {
  margin-left: 100px;
}

.heading4 {
  color: orange;
  margin-top: 250px;
  margin-left: 100px;
  margin-bottom: 60px;
  font-weight: lighter;
  font-size: 30px;
}

.app-create-btn {
margin-left: 200px;
border: 0px lightsalmon;
border-radius: 50px;
padding: 10px;
width: 180px;
cursor: pointer;
background-color: lightsalmon;
color: white;
text-transform: uppercase;
transition: 0.3s;
position: relative;
top: -50px;
}

.app-create-btn:hover{
  background-color: white;
  color: orange
}

.banner {
  margin-left: 900px;
  margin-top: 50px;
}

.sub-banner{
width: 500px;
height: 500px;
margin-left: 700px;
position: relative;
bottom: -200px;
left: -400px;
}

.box {
 margin-left: 100px;
 margin-top: -550px;
 position: relative;
 top: -100px;
}

.sub-box {
  position: relative;
  left: 900px;
  bottom: 200px;
}

.contact-btn{
  border: 1px solid lightsalmon;
  border-radius: 50px;
  padding: 10px;
  width: 180px;
  cursor: pointer;
  background-color: white;
  color: orange;
  text-transform: uppercase;
  transition: 0.3s;
  position: relative;
  left: 900px;
  bottom: 100px;
}

.contact-btn:hover {
  background-color: orange;
  color: white;
}

.heading5 {
  font-weight: lighter;
}
.heading6{
  text-transform: uppercase;
  font-weight:bold;

}
.heading7 {
  font-weight: lighter;
  line-height: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}